<router-outlet></router-outlet>
<div class="container mx-auto flex justify-center flex-col items-center">
    <h1 class="text-4xl">
        Community Curations
    </h1>
    <div class="text-2xl text-red-500 flex flex-col border-black border-2 w-2/4 p-5">
        <h3>Angular Buiders</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat sit error recusandae. Sunt, ipsa adipisci aut at aspernatur voluptate, rem ut est nesciunt vel cumque optio necessitatibus nihil? Nesciunt fugiat, quidem, consequatur vitae totam dolorem quos commodi quod perferendis sequi unde rem nemo qui ullam repellendus, non maiores impedit temporibus?
        </p>
    </div>
    <nav class="my-5">
        <ul>
            <li class="cursor-pointer">
                <a routerLink="communitycard" class="text-white bg-blue-600 border rounded-md p-4 uppercase">Community cards</a>
            </li>
        </ul>
    </nav>
</div>