<nav class="p-4 bg-blue-600 flex justify-between items-center">
    <div class="flex items-center uppercase">
        <img src="../../../assets/images/angular.png" alt="angular-logo" class="h-16">
        <span class="text-white text-2xl">ngular</span>
        <ul class="flex items-center gap-4 text-lg text-white mx-8">
            <li class="cursor-pointer">
                <a routerLink="">Docs</a>
            </li>
            <li class="cursor-pointer">
                <a routerLink="/community">Community</a>
            </li>
            <li class="cursor-pointer">
                <a routerLink="/blogs">Blog</a>
            </li>
        </ul>
    </div>
</nav>