<!-- <p class="bg-slate-950 text-blue-500 text-center">home works!</p>
<mat-card>
  <mat-card-content class="text- bg-blue-500">Simple card</mat-card-content>
</mat-card> -->


<section class="container mx-auto">
  <div class="main">
    <h3>
      Introduction to the Angular docs
    </h3>
    <p>
      Angular is an application-design framework and development platform for creating efficient and sophisticated
      single-page apps.
    </p>
    <p>These Angular docs help you learn and use the Angular framework and development platform,
      from
      your first
      application to optimizing complex single-page applications for enterprises. Tutorials and guides include
      downloadable examples to help you start your projects.</p>
  </div>
  <!-- <div class="test">
    <img src="https://picsum.photos/200/300" alt="lorem-img">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora, omnis explicabo. Ipsam illum accusamus aspernatur corrupti laborum laboriosam aut, maxime commodi harum, voluptatum totam quae consequuntur exercitationem, delectus cum voluptates at! Odit corrupti, cumque suscipit repellendus esse nostrum voluptatum nisi porro maxime eligendi? Dignissimos repellat quam error laboriosam? Nihil, voluptates?</p>
  </div> -->

<!-- 
  @for (item of types; track $index){
  <h1>hello loop {{item}}</h1>
}@empty{
  <h1>no elements</h1>
} -->

<!-- @switch (type){
  @case (1) {
    <h2>hello1</h2>
  }
  @case (2) {
    <h2>hello2</h2>
  }
  @case (3) {
    <h2>hello3</h2>
  }
  @default{
    <h2>hello4</h2>
  }
} -->
</section>



<!-- @if(type==1){
<h2 class="text-center">
  hello1
</h2>
}
@else{
<h2 class="text-center">
  hello2
</h2>
} -->

<!-- <div class="flex justify-center flex-col items-center bg-red-400">
  @for (item of types; track $index){
    <h1>hello loop {{item}}</h1>
  }@empty{
    <h1>no elements</h1>
  }
</div> -->

<!-- <div class="flex justify-center flex-col items-center bg-red-400">
  @switch (type){
  @case (1) {
  <h2>hello1</h2>
  }
  @case (2) {
  <h2>hello2</h2>
  }
  @case (3) {
  <h2>hello3</h2>
  }
  @default{
  <h2>hello4</h2>
  }
  }
</div> -->